data-sci/coursera/getdata/011/week1/.Rhistory
data-sci/coursera/getdata/011/week1/.RData
data-sci/coursera/getdata/011/quizz1/.Rhistory
data-sci/coursera/getdata/011/quizz1/.RData
data-sci/coursera/getdata/.RData
data-sci/coursera/getdata/.Rhistory
data-sci/coursera/exdata/011/week1/.RData
data-sci/coursera/exdata/011/week1/.Rhistory
data-sci/coursera/getdata/011/quizz3/.Rhistory
data-sci/coursera/getdata/011/quizz3/.RData
scala/infinite_skills/target
scala/infinite_skills/.classpath
scala/infinite_skills/.project
scala/infinite_skills/.cache
scala/infinite_skills/.worksheet
scala/infinite_skills/bin
